html {
  font-family: 'Droid Sans', sans-serif;
}
body {
	background: url('/tree_bark.png');
}

.container {
  margin: 100px auto;
  width: 720px;
  padding: 0px 20px 20px 20px;
  border: 12px solid rgba(255,255,255,0.3);
  background-color: #6D57B3;
  border-radius: 20px;
}

#kong {
	margin: 0 auto;
	margin-top: 100px;
	width: 400px;
}

#enter {
	text-align: center;
	position: relative;
	top: 10px;
	right: 0;
}

/* Header navigation ========================= */
header {
	background: #3A3732;
	color: white;
	width: 100%;
	height: 56px;
	line-height: 56px;
	position: fixed;
	top: 0;
	letter-spacing: .1em;
	font-family: 'Anton', sans-serif;
}

header div:first-of-type {
	font-size: 38px;
}

header > h1 {
	margin: 0;
	margin-left: 40px;
}

header div {
	display: inline;
}

header div a {
	color: white;
	margin-left: 20px;
	text-decoration: none;
}

header div a:hover, header li a:hover {
	color: yellow;
}

header div:last-of-type {
	text-align: right;
}

header ul {
	float: right;
	margin: 0 1em 0 0;
}

header li {
	display: inline;
	padding: 0 .5em;
}

a, li {
	list-style-type: none;
	text-decoration: none;
	color: white;
}

#logout {
	border: none;

	border-radius: 20px;
}

h1, h2, h3 {
	color: white;
}

h2 {
	margin-top: 90px;
	text-align: center;
}

input[type="submit"] {
background: rgb(57,16,82);
background: -moz-linear-gradient(top,  rgba(57,16,82,1) 0%, rgba(41,4,60,1) 50%, rgba(67,10,88,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(57,16,82,1)), color-stop(50%,rgba(41,4,60,1)), color-stop(100%,rgba(67,10,88,1)));
background: -webkit-linear-gradient(top,  rgba(57,16,82,1) 0%,rgba(41,4,60,1) 50%,rgba(67,10,88,1) 100%);
background: -o-linear-gradient(top,  rgba(57,16,82,1) 0%,rgba(41,4,60,1) 50%,rgba(67,10,88,1) 100%);
background: -ms-linear-gradient(top,  rgba(57,16,82,1) 0%,rgba(41,4,60,1) 50%,rgba(67,10,88,1) 100%);
background: linear-gradient(to bottom,  rgba(57,16,82,1) 0%,rgba(41,4,60,1) 50%,rgba(67,10,88,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#391052', endColorstr='#430a58',GradientType=0 );

border: 2px solid rgba(255,255,255,0.1);
border-radius: 10px;
color: white;
padding: .5em;
font-size: 1.5em;
font-family: 'Anton', sans-serif;
letter-spacing: 0.1em;
}

input[type="submit"]:hover {
	background: rgb(96,27,139);
background: -moz-linear-gradient(top,  rgba(96,27,139,1) 0%, rgba(70,7,101,1) 50%, rgba(113,16,148,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,27,139,1)), color-stop(50%,rgba(70,7,101,1)), color-stop(100%,rgba(113,16,148,1)));
background: -webkit-linear-gradient(top,  rgba(96,27,139,1) 0%,rgba(70,7,101,1) 50%,rgba(113,16,148,1) 100%);
background: -o-linear-gradient(top,  rgba(96,27,139,1) 0%,rgba(70,7,101,1) 50%,rgba(113,16,148,1) 100%);
background: -ms-linear-gradient(top,  rgba(96,27,139,1) 0%,rgba(70,7,101,1) 50%,rgba(113,16,148,1) 100%);
background: linear-gradient(to bottom,  rgba(96,27,139,1) 0%,rgba(70,7,101,1) 50%,rgba(113,16,148,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#601b8b', endColorstr='#711094',GradientType=0 );

}


/* Sign in & Sign up ================================ */

.sign input {
	width: 90%;
	margin: 10px 0;
}

.login {
	/* Safari and Chrome */
	-webkit-column-count:2;
	-webkit-column-gap:50px;
	-webkit-column-rule: 4px outset #9888C9;
}

.question {
	text-align: center;
}

.question p	{
	font-size: 24px;
}

table {
	width: 100%;
}

td {
	text-align: center;
}

#chart_div {
	margin: 50px auto;
}

#addQuestion {
	float: right;
	margin-top: -40px;
}
