<div class="container">
  <h1>Create your Survey!</h1>

  <form action="/survey/new" method="post" class="create">
    <p>
      <label for="title">Title:</label>
      <input name="title" id="title" size="15">
    </p>
    <span id="addQuestion">Add question</span>
    <input type="submit" value="Submit Survey" id="submit">
  </form>
</div>
